#navbar-main-logo, #navbar-om86-logo {
    width: 32px;
    height: 32px;
}

#navbar-om86-items .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

#main {
    margin-top: 96px;
    min-height: calc(100vh - 64px);
}

.navbar#navbar-main {
    background-color: rgba(1, 132, 56, .4) !important;
    backdrop-filter: blur(50px);
}

body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 50%;
}

.histoire-textes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.histoire-annee {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 20px;
    padding: 10px;
}

.histoire-annee-bullet {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--bs-warning);
    margin-top: 8px;
}

.histoire-annee-bullet::after {
    content: "";
    width: 12px;
    height: calc(41px * var(--nb-elements) + 50px);
    background-color: var(--bs-success);
    display: block;
    margin-top: 16px;
    margin-left: 6px;
    z-index: -1;
    position: absolute;
}

.histoire-annee-left {
    display: flex;
    justify-content: center;
}

.histoire-texte {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contacts p {
    display: inline;
}