{% extends "base.html" %}

{% block main %}
    <h1>Ajout d'un match de {{ equipe.nom }} dans le {{ championnat.titre }}</h1>
    <form action="{{ url_for('affronter_add', id_championnat=championnat.id, id_participant=equipe.id) }}" method="post" class="form-horizontal mb-3"
          enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            <label for="adversaire" class="col-sm-2 control-label">{{ form.adversaire.label }}</label>
            <div class="col-sm-10">
                {{ form.adversaire(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="date" class="col-sm-2 control-label">{{ form.date.label }}</label>
            <div class="col-sm-10">
                {{ form.date(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="resultat" class="col-sm-2 control-label">{{ form.resultat.label }}</label>
            <div class="col-sm-10">
                {{ form.resultat(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="score" class="col-sm-2 control-label">{{ form.score.label }}</label>
            <div class="col-sm-10">
                {{ form.score(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="domicile" class="col-sm-2 control-label">{{ form.domicile.label }}</label>
            <div class="col-sm-10">
                {{ form.domicile(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Ajouter" class="btn btn-success">
                <a href="{{ url_for('tournoi', id_championnat=championnat.id) }}" class="btn btn-secondary">Annuler</a>
            </div>
        </div>
    </form>
{% endblock %}
