{% extends "base.html" %}

{% block main %}
    <h1>{{ article.titre }}</h1>
    {% if current_user.is_authenticated %}
        <article>
        <form action="{{ url_for('article_view', id_article=article.id) }}" method="post"
              class="form-horizontal mb-3" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <article><img src="{{ "/static/upload/" + article.image }}" alt="{{ article.titre }}"> </article>
            <div class="form-group mb-3">
                <label for="image" class="col-sm-2 control-label">{{ form.image.label }}</label>
                <div class="col-sm-10">
                    {{ form.image(size=50, class_="form-control") }}
                </div>
            </div>
            {% include "editor.html" %}
            <div class="form-group mt-2">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Sauvegarder" class="btn btn-success">
                    <a href="{{ url_for('article_delete', id_article=article.id) }}"
                       class="btn btn-danger">Supprimer</a>
                    <a href="{{ url_for('articles') }}" class="btn btn-secondary">Annuler</a>
                </div>
            </div>
        </form>
        </article>
    {% else %}
        <article><img src="{{ "/static/upload/" + article.image }}" alt="{{ article.titre }}"> </article>
        <article>{{ article.contenu|safe }}</article>
    {% endif %}
{% endblock %}
