{% extends "base.html" %}

{% block main %}
    <h1>Tournois internes</h1>

    <div class="list-group" style="max-width: 400px; margin-left: auto; margin-right: auto;">
    {% for tournoi in tournois %}
        <a class="list-group-item list-group-item-action"
           href="{{ url_for('interne_view', id_interne=tournoi.id) }}">
            <center>
                {{ tournoi.date_championnat.strftime("%d/%m/%Y") }} -
                {{ tournoi.titre }}
            </center>
        </a>

    {% endfor %}
        {% if current_user.is_authenticated %}
            <a class="list-group-item list-group-item-action"
               href="{{ url_for('interne_add') }}">
                <center><b>Ajouter un tournoi interne</b></center>
            </a>
        {% endif %}
    </div>
{% endblock %}
