{% extends "base.html" %}

{% block main %}
    <h1>Suppression d'un match interne</h1>
    <p>Vous allez supprimer un match interne. Ce match ne sera plus visible sur le site.
        Voulez-vous continuer ?</p>
    <form action="{{ url_for('match_delete', id_interne=match._id_championnat, id_j1=id_joueurs[0],
    id_j2=id_joueurs[1])
            }}" method="post"
          class="form-horizontal mb-3">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Supprimer" class="btn btn-danger">
                <a href="{{ url_for('interne_view', id_interne=match._id_championnat) }}"
                   class="btn btn-secondary">Annuler</a>
            </div>
        </div>
    </form>
{% endblock %}