{% extends "base.html" %}

{% block main %}
    <h1>Management du club</h1>
    {% if current_user.is_authenticated and role_ok %}
        <form action="{{ url_for('management') }}" method="post" class="form-horizontal mb-3">
            {{ form.hidden_tag() }}
            {% include "editor.html" %}
            <div class="form-group mt-2">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Sauvegarder" class="btn btn-success">
                </div>
            </div>
        </form>
    {% else %}
        {% if current_user.is_authenticated %}
            <div class="alert alert-warning">
                <b>Accès en lecture seule.</b> L'utilisateur connecté ({{ current_user.login }}, rôle "{{ get_nom_role(current_user.role) }}") ne permet pas de modifier cette page. Le rôle "{{ role }}" permet de modifier la page. Le contenu de la page est affiché ci-dessous.
                (<a href="{{ url_for('deconnexion') }}">Changer d'utilisateur</a>)
            </div>
        {% endif %}
        {{ contenu|safe }}
    {% endif %}
{% endblock %}
