{% extends "base.html" %}

{% block main %}
    <body>
        <h1>Partenaires</h1>
        {% for part in partenaires %}
            <img src="{{ url_for('static', filename=part.logo)}}" width="200">
            {% if current_user.is_authenticated %}
                <a href=" {{ url_for('partenaire_delete', idP=part.id)}}" class="btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg> </a>
            {% endif %}
        {% endfor %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('partenaire_create')}}" class="btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg></a>
        {% endif %}
    </body>
{% endblock %}
