{% extends "base.html" %}

{% block main %}
    <h1>Partenaires</h1>
    {% if current_user.is_authenticated %}
        <p>
            Cliquez sur un partenaire pour le supprimer. Déconnectez-vous pour consulter les liens des partenaires.
        </p>
    {% endif %}
    <div class="row">
        {% for part in partenaires %}
            {% for partenaire in part %}
            <div class="col-6 col-md-4">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('partenaire_delete', id_p=partenaire.id) }}">
                        {% if partenaire.important %}
                            {% if partenaire.logo.nom_fichier != "" and partenaire.logo.nom_fichier != None %}
                                <center><img src="{{ url_for('static', filename="upload/" + partenaire.logo.nom_fichier) }}" width="300"
                                     alt="{{ partenaire.nom }}"></center>
                            {% endif %}
                        {% else %}
                            {% if partenaire.logo.nom_fichier != "" and partenaire.logo.nom_fichier != None %}
                                <center><img src="{{ url_for('static', filename="upload/" + partenaire.logo.nom_fichier) }}" width="150"
                                 alt="{{ partenaire.nom }}"></center>
                            {% endif %}
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ partenaire.lien }}">
                    {% if partenaire.logo.nom_fichier != "" and partenaire.logo.nom_fichier != None %}
                    <center><img src="{{ url_for('static', filename="upload/" + partenaire.logo.nom_fichier) }}" width="200"
                         alt="{{ partenaire.nom }}"></center>
                    {% endif %}
                    </a>
                {% endif %}
            </div>
            {% endfor %}
            <hr>
        {% endfor %}
    </div>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('partenaire_create') }}" class="btn btn-primary">Ajouter un
            partenaire</a>
    {% endif %}
{% endblock %}
