{% extends "base.html" %}

{% block main %}
    <body>
        <h1>{{ championnat.titre }}</h1>
        <h2>Début le {{ championnat.date_comp.strftime("%d/%m/%Y") }}</h2>
        <ul>
            {% if type_champ == "individuel" %}
                <li>Championnnat individuel</li>
                <li>Niveau : {{ championnat.niveau }}</li>
            {% else %}
                <li>Championnat par équipe</li>
            {% endif %}
            <li>Catégorie : {{ championnat.categorie }}</li>
            <li>Série : {{ championnat.serie }}</li>
        </ul>
        {% if type_champ == "individuel" %}
            {% if championnat.classer.all()|length > 0 %}
                <table class="table table-bordered border-success">
                    <thead class="table-warning table-bordered border-success">
                        <th scope="col"><center>Participant</center></th>
                        <th scope="col"><center>Classement</center></th>
                    </thead>
                    <tbody>
                        {% for classement in championnat.classer %}
                            <tr>
                                <td class="table-success table-bordered border-success"><center>{{ classement.joueur.prenom }} {{ classement.joueur.nom }}</center></th>
                                <td class="table-secondary table-bordered border-success"><center>{{ classement.rang }}</center></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucun joueur du club ne participe à ce tournoi</p>
            {% endif %}
        {% else %}
            {% if championnat.participer.all()|length == 0 %}
                <p>Aucune équipe du club ne participe à ce tournoi</p>
            {% else %}
                {% for participant in championnat.participer %}
                    <table class="table table-success table-bordered border-success">
                        <tbody>
                            <tr><th colspan="{{ stades[participant.equipe.id]|length * 2 + 1 }}">{{ participant.equipe.nom }}</th></tr>
                            <tr class="table-warning table-bordered border-success">
                                <th scope="col">Date des Matchs</th>
                                {% for stade in stades[participant.equipe.id] %}
                                    <th scope="col">{{ stade }}</th>
                                    <th scope="col">Resultat</th>
                                {% endfor %}
                            </tr>
                            {% for date_match in matchs[participant.equipe.id] %}
                                <tr>
                                    <th class="table-warning table-bordered border-success" scope="row">{{ date_match.strftime("%d/%m/%Y") }}</th>
                                    {% for stade in stades[participant.equipe.id] %}
                                        {% if matchs[participant.equipe.id][date_match][stade] == None %}
                                            <td class="table-light table-bordered border-success" colspan="2"><center> - </center></td>
                                        {% elif matchs[participant.equipe.id][date_match][stade].domicile %}
                                            <td class="table-primary table-bordered border-success"><center>{{ matchs[participant.equipe.id][date_match][stade].adversaire }}</center></td>
                                            <td class="table-primary table-bordered border-success"><center>{{ matchs[participant.equipe.id][date_match][stade].resultat }} {{ matchs[participant.equipe.id][date_match][stade].score }}</center></td>
                                        {% else %}
                                            <td class="table-secondary table-bordered border-success"><center>{{ matchs[participant.equipe.id][date_match][stade].adversaire }}</center></td>
                                            <td class="table-secondary table-bordered border-success"><center>{{ matchs[participant.equipe.id][date_match][stade].resultat }} {{ matchs[participant.equipe.id][date_match][stade].score }}</center></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        {% endif %}
            
    </body>
{% endblock %}
