{% extends "base.html" %}

{% block main %}
    <h1>Ajout d'un tournoi</h1>
    <p>Vous allez ajouter un tournoi {% if type_tournoi == 'individuel' %}individuel{% else %}par équipe{% endif %}.</p>
    <form action="{{ url_for('tournoi_add', type_tournoi=type_tournoi) }}"
          method="post"
          class="form-horizontal mb-3">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            <label for="titre" class="col-sm-2 control-label">{{ form.titre.label }}</label>
            <div class="col-sm-10">
                {{ form.titre(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="date_championnat" class="col-sm-2 control-label">{{ form.date_championnat.label }}</label>
            <div class="col-sm-10">
                {{ form.date_championnat(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="categorie" class="col-sm-2 control-label">{{ form.categorie.label }}</label>
            <div class="col-sm-10">
                {{ form.categorie(size=50, class_="form-control") }}
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="serie" class="col-sm-2 control-label">{{ form.serie.label }}</label>
            <div class="col-sm-10">
                {{ form.serie(size=50, class_="form-control") }}
            </div>
        </div>
        {% if type_tournoi=='individuel' %}
            <div class="form-group mb-3">
                <label for="niveau" class="col-sm-2 control-label">{{ form.niveau.label }}</label>
                <div class="col-sm-10">
                    {{ form.niveau(size=50, class_="form-control") }}
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Ajouter" class="btn btn-success">
                <a href="{{ url_for('calendrier') }}" class="btn btn-secondary">Annuler</a>
            </div>
        </div>
    </form>
{% endblock %}
