{% extends "base.html" %}

{% block main %}
  <h1>Gestion des utilisateurs</h1>

  <ul class="list-group">
    {% for user in users %}
      <li class="list-group-item">{{ user.login }} (<a href="/utilisateurs/{{ user.login }}/reset">Réinit. mdp</a>{% if current_user.login != user.login %} - <a href="/utilisateurs/{{ user.login }}/delete">Supprimer</a>{% endif %})
      </li>
    {% endfor %}
  </ul>

  <div class="mt-2">
    <a href="/utilisateurs/create" class="btn btn-primary">Ajouter un nouvel utilisateur</a>
  </div>
{% endblock %}
